@model List<SistemaGCS.Models.Metodologia>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2> Listados de Metodologias</h2>
<h2 class="pagegeader">
    <a href="~/Metodologias/Agregar" class="btn btn-info text-right">Nuevo Registro Metodologia</a>


</h2>
<br />
<br />
@using (Html.BeginForm("Index", "Metodologia", FormMethod.Post))
{

}

<table id="datatable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@(m.Id_metodologia)</td>
                <td>@(m.Nombre)</td>
                <td>
                    <a href="~/Metodologias/Ver/@m.Id_metodologia" class="btn btn-primary">VER</a>
                    <a href="~/Metodologias/Agregar/@m.Id_metodologia" class="btn btn-success">EDITAR</a>
                    <a onclick="return confirm('Esta Seguro que desea eliminar el registro?')" href="~/Metodologias/Eliminar/@m.Id_metodologia" class="btn btn-danger">ELIMINAR</a>
                </td>
            </tr>
        }
    </tbody>

</table>

