
@{
    ViewBag.Title = "Index";
}

<main class="content">
    <div class="container-fluid p-0">

        <div class="row mb-2 mb-xl-3">
            <div class="text-center">
                <img src="~/Source/img/avatars/svg.png" />
                <p class="alert-icon">YN CATARI</p>
                <p class="justify-content-lg-center">GESTIÓN DE LA CONFIGURACIÓN DE SOFTWARE</p>
            </div>

        </div>
    </div>
</main>

